body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5
}

#container {
    width: 70%;
    margin: auto;
}

#header {
    height: 70px;
    width: 100%;
    background-color: #143665;
    color: white;
}

#navbar {
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-section {
    font-size: x-large;
    font-weight: 600;
}

#left-section:hover {
    cursor: pointer;
}

#right-section {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.navbar-btn {
    background-color: #143665;
    color: white;
    border: 0;
    font-weight: 600;
}

#notification {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: xx-large;
    color: #143665;
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Courier New';
    background-color: #efd164;
}

#cont {
    margin-top: 30px;
    display: flex;
}

#adminOptions {
    height: max-content;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #143665;
    color: #efd164;
    border-radius: 10px;
}

.adminOptions-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid #efd164;
    font-weight: 700;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
}

.adminOptions-item:hover {
    background-color: #276bcb;
    cursor: pointer;
}

#displayArea {
    width: 70%;
    margin-left: 20px;
}

#displayArea>div img {
    height: 210px;
    width: 230px;
    border-radius: 10px;
    margin-right: 4px;
}

#displayArea>div {
    padding: 10px;
    position: relative;
    display: flex;
    margin-bottom: 20px;
    background-color: #efd164;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

#displayArea>div:hover {
    background-color: rgb(247, 246, 214);
}

#displayArea>div>div p,
h3 {
    margin-top: 8px;
    margin-bottom: 0px;
}

#displayArea>div>div {
    margin-left: 15px;
}

#displayArea>div>div p {
    color: #0E8445;
}

.price {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 10px;
    right: 10px;
    text-align: end;
}

.price button {
    background-color: #0E8445;
    margin-bottom: 10px;
    border: 0px;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

#searchbyid {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #143665;
    border-radius: 10px;
    height: 200px;
    justify-content: space-evenly;
}

#searchbyid input {
    height: 40px;
    border-radius: 10px;
}

#searchbyid button {
    margin-top: 10px;
    height: 50px;
    background-color: #143665;
    color: #efd164;
    border-radius: 20px;
    font-size: large;
}

#searchbyid label {
    font-size: 30px;
}

i {
    margin-right: 20px;
}

#addnewadmin {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #143665;
    border-radius: 10px;
    height: 500px;
    justify-content: space-evenly;
}

#addnewadmin input {
    padding: 5px;
    height: 40px;
    border-radius: 10px;
}

#addnewadmin button {
    margin-top: 10px;
    height: 50px;
    background-color: #143665;
    color: #efd164;
    border-radius: 20px;
    font-size: large;
}

#addnewadminlabel {
    font-size: 20px;
}

#head tr {
    background-color: #143665;
    color: #efd164;
    font-size: 20px;
    height: 40px;
}

#allDataTable {
    margin-left: 30px;
    border-collapse: collapse;
    text-align: center;
    background-color: lightgrey;
    border-style: double;
    width: 75%;
    margin: auto;
}

#displayArea {
    width: 100%;
}

#bodyOfTable tr {
    border-bottom: 1px solid black;
    height: 40px;
    font-size: 15px;
}

.spinner-icon {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}